/* CLK 6, DIN 10, DC 14, RST 19, CE 20 */
&pinctrl {
	spi0_default: spi0_default {
		group1 {
			psels = <NRF_PSEL(SPIM_SCK, 0, 6)>,
				<NRF_PSEL(SPIM_MOSI, 0, 10)>;
		};
	};
};

/ {
	chosen {
		zephyr,display = &pcd8544;
	};

	mipi_dbi {
		compatible = "zephyr,mipi-dbi-spi";
		spi-dev = <&spi0>;
		dc-gpios = <&gpio0 14 GPIO_ACTIVE_HIGH>;
		reset-gpios = <&gpio0 19 GPIO_ACTIVE_LOW>;
		#address-cells = <1>;
		#size-cells = <0>;

		pcd8544: pcd8544@0 {
			compatible = "philips,pcd8544";
			reg = <0>;
			mipi-max-frequency = <4000000>;
			width = <84>;
			height = <48>;
			bias = <3>;
		};
	};
};

&spi0 {
	status = "okay";
	pinctrl-0 = <&spi0_default>;
	pinctrl-names = "default";
	cs-gpios = <&gpio0 20 GPIO_ACTIVE_LOW>;
};
